html, body {
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    width: 45%;
    height: 350px;
}

.floating-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-top: 0;
    margin-bottom: 0px;
    color: var(--orange);
    font-size: 500%;
    font-weight: 500;
}

.subheading {
    margin-top: 0px;
    color: black;
    font-size: 100%;
    font-weight: 400;
}

.buttonContainer {
    width: 55%;
    height: 60px;
    margin-top: 15px;
}

.buttonText {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 360px) {
    .cardText {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 820px) {
    .cardText {
        font-size: 0.5rem;
    }
}
