html, body {
    margin: 0;
    padding: 0;
}
.outline-card{
    display: flex;
    width: 60%;
    height: 75%;
    background-color: var(--baby-powder);
    align-items: center;
    justify-content: center;
    background-image: none;
    box-shadow: 1px 2px 9px lightgray;
}

.pagey {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* align-content: top; */
}

.swipeCardContent {
    width: 80%;
    height: 90%;
}

.floating-card {
    display: flex;
    align-items: flex-start;
    justify-content: top;
}

.swipeCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
}

.swipeCardText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    margin-top: 0;
    margin-bottom: 0px;
    color: var(--orange);
    font-size: 500%;
    font-weight: 500;
}

.subheading {
    margin-top: 0px;
    color: black;
    font-size: 100%;
    font-weight: 400;
}

.buttonContainer {
    width: 55%;
    height: 60px;
    margin-top: 15px;
}

.buttonText {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
}
.parentButton{
    height: 30px;
    
}
.cardyContainer{
    width: 200px;
    height: 150px;
}

