html, body {
    margin: 0;
    padding: 0;
}

.group-hero {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 70px;
    padding-right: 70px;
}

.group-title {
    text-decoration: underline;
    background: linear-gradient(to right bottom, var(--sun-glow), var(--orange), var(--indian-red), var(--fuchsia-rose));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.group-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-card-container {
    width: 65%;
    height: 425px;
}

.left-card-content {
    justify-content: center;
}

.group-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.filter {
    width: 4vw;
    height: 7vh;
    margin-left: 30px;
    margin-right: 15px;
}

.cuisine {
    width: 7vw;
    height: 7vh;
    margin-left: 15px;
    margin-right: 15px;
}

.cuisine-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 15px;
}

.cuisine-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 0px;
}

.cuisine-individual-card {
    width: 220px;
    height: 150px;
    margin-left: 25px;
    margin-right: 25px;
}

.cuisine-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
}

.mexican-food-img {
    width: 150px;
    height: 75px;

    background-image: url('../../assets/group-mexican.jpeg');
    background-size: 150px;

    border-radius: 10px;
}

.american-food-img {
    width: 150px;
    height: 75px;

    background-image: url('../../assets/group-american.jpg');
    background-size: 150px;

    border-radius: 10px;
}

.chinese-food-img {
    width: 150px;
    height: 75px;

    background-image: url('../../assets/group-chinese.jpg');
    background-size: 150px;

    border-radius: 10px;
}

.japanese-food-img {
    width: 150px;
    height: 75px;

    background-image: url('../../assets/group-japanese.jpg');
    background-size: 150px;

    border-radius: 10px;
}

.korean-food-img {
    width: 150px;
    height: 75px;

    background-image: url('../../assets/group-korean.jpg');
    background-size: 150px;

    border-radius: 10px;
}

.indian-food-img {
    width: 150px;
    height: 75px;

    background-image: url('../../assets/group-indian.jpg');
    background-size: 150px;

    border-radius: 10px;
}

.price-range {
    width: 9vw;
    height: 7vh;
    margin-left: 15px;
    margin-right: 15px;
}

.small-individual-card {
    width: 220px;
    height: 65px;
    margin-left: 25px;
    margin-right: 25px;
}

.allergens {
    width: 13vw;
    height: 7vh;
    margin-left: 15px;
    margin-right: 15px;
}

.meal-type {
    width: 9vw;
    height: 7vh;
    margin-left: 15px;
}

.right-card-container {
    width: 30%;
    height: 425px;
}

.right-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-member-title {
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px; /* it's not centering :( */
}

.member-profile {
    width: 22vw;
    height: 4vh;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    border: solid 2px transparent;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.member-name {
    margin-left: 10px;
}

.template {
    width: 22vw;
    height: 4vh;
    background-color: lightgray;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottom-card-container {
    margin-top: 50px;
    margin-bottom: 0px;
    width: 65%;
    height: 100px;
}

.bottom-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px; /* it's not centering :( */
    padding-bottom: 0px;
    margin-left: 60px;
    margin-right: 60px;
}

.bottom-card-template {
    width: 33vw;
    height: 4vh;
    border: solid 2px transparent;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-top: 15px;
    margin-bottom: 15px;
}

.generate-link {
    cursor: pointer;
    background-color: transparent;
    color: var(--vista-blue);
    border: 0px;
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    padding-left: 0px;
    margin-left: 0px;
}

.bottom-right-button-container {
    margin-top: 50px;
    width: 30%;
    height: 100px;
}
