html, body {
    margin: 0;
    padding: 0;
}

.group-hero {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: start; */
    /* justify-content: center; */
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 70px;
    padding-right: 70px;
    /* width: 100vw; */
    /* height: 100vh; */
}

.group-title {
    text-decoration: underline;
    background: linear-gradient(to right bottom, var(--sun-glow), var(--orange), var(--indian-red), var(--fuchsia-rose));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.group-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftCardContainer {
    width: 65%;
    height: 425px;
}

.leftCardContent {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
}

.group-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.filter {
    width: 4vw;
    height: 7vh;
    margin-left: 30px;
    margin-right: 15px;
}

.filterBtn {
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: 0px;
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.filterClickedBtn {
    cursor: pointer;
    background-image: linear-gradient(to right bottom, var(--sun-glow), var(--orange), var(--indian-red), var(--fuchsia-rose));
    color: white;
    border: 0px;
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.iconColor {
    color: black;
}

/* .filterBtn:hover {
    animation: hoverAnimation 0.5s; 
    background-image: linear-gradient(to right bottom, var(--sun-glow), var(--orange), var(--indian-red), var(--fuchsia-rose));
}

@keyframes hoverAnimation {
    0% {
        background-image: white;
    }
    25% {
        background-image: linear-gradient(to right bottom, white, white, white, var(--sun-glow));
    }
    50% {
        background-image: linear-gradient(to right bottom, white, white, var(--sun-glow), var(--orange));
    }
    75% {
        background-image: linear-gradient(to right bottom,  white, var(--sun-glow), var(--orange), var(--indian-red));
    }
    100% {
        background-image: linear-gradient(to right bottom, var(--sun-glow), var(--orange), var(--indian-red), var(--fuchsia-rose));
    }
} */

.cuisine {
    width: 7vw;
    height: 7vh;
    margin-left: 15px;
    margin-right: 15px;
}

.cuisineCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-left: 0px;
    margin-bottom: 15px;
}

.cuisineRowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 0px;
}

.cuisineIndividualCard {
    width: 220px;
    height: 150px;
    margin-left: 25px;
    margin-right: 25px;
}

.cuisineContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
}

.cuisineImg {
    width: 150px;
    height: 75px;

    background-image: url('./images/mexican.jpeg');
    background-size: 150px;

    border-radius: 10px;
}

.priceRange {
    width: 9vw;
    height: 7vh;
    margin-left: 15px;
    margin-right: 15px;
}

.smallIndividualCard {
    width: 220px;
    height: 65px;
    margin-left: 25px;
    margin-right: 25px;
}

.allergens {
    width: 13vw;
    height: 7vh;
    margin-left: 15px;
    margin-right: 15px;
}

.mealType {
    width: 9vw;
    height: 7vh;
    margin-left: 15px;
}

.rightCardContainer {
    width: 30%;
    height: 425px;
}

.rightCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groupMemberTitle {
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px; /* it's not centering :( */
}

.memberProfile {
    width: 22vw;
    height: 4vh;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    border: solid 2px transparent;
    border-radius: 10px;
    background-color: #F5F5F5; /* #F5F5F5 #ECECEC #EBECf0*/
}

.memberName {
    margin-left: 10px;
}

.template {
    width: 22vw;
    height: 4vh;
    background-color: lightgray;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottomCardContainer {
    margin-top: 50px;
    margin-bottom: 0px;
    width: 65%;
    height: 100px;
}

.bottomCardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px; /* it's not centering :( */
    padding-bottom: 0px;
    margin-left: 60px;
    margin-right: 60px;
}

.bottomCardTemplate {
    width: 33vw;
    height: 4vh;
    border: solid 2px transparent;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-top: 15px;
    margin-bottom: 15px;
}

.generateLink {
    cursor: pointer;
    background-color: transparent;
    color: var(--vista-blue);
    border: 0px;
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    padding-left: 0px;
    margin-left: 0px;
}

.bottomRightButtonContainer {
    margin-top: 50px;
    width: 30%;
    height: 100px;
}
