html, body {
    margin: 0;
    padding: 0;
}

.waiting-card-container {
    width: 60%;
    height: 70%;
}

.waiting-card-contents {
    width: 100%;
    height: 100%;

    padding: 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting-card-heading {
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
    color: var(--orange);
    font-size: 4em;
    font-weight: 500;
}

.waiting-card-subheading {
    width: 80%;

    text-align: center;
    color:#808080;
    font-size: 1em;
    font-weight: 400;
}

.waiting-card-hero {
    width: 50%;
}

@media only screen and (max-width: 400px) {
    .waiting-card-heading {
        font-size: 2em;
    }
}

@media only screen and (max-width: 900px) {
    .waiting-card-hero {
        width: 60%;
    }
}